### Connect to database

In [96]:
import mariadb # librairie pour se connecter à mariadb
import sys
import var # import variable configured into var.py


# Connect to MariaDB Platform
try:
    conn = mariadb.connect(
        user=var.user,
        password=var.password,
        host=var.host,
        port=3306,
    )
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

# Get Cursor
cur = conn.cursor()

### Retrieve databases on the server
❗❗<code>SHOW DATABASES</code> query requires specific right on mariadb server
If our user do not get those rights, please run the command with another user
Some databases are not supposed to be transfered into Elastic, for exemple : <code>{'information_schema','mysql','sys','performance_schema'}</code>

In [97]:
cur.execute("SHOW DATABASES;") #* require specific rights on mariadb server

result = cur.fetchall() # retrieve all the results

cur.close()
# Create a list of databases name on the server
dbs_list= []
for row in result:
    dbs_list.append(row[0]) 

#! TODO : complete unwanted_db with any database that should not be transfered into Elastic
unwanted_db = {'information_schema','mysql','sys','performance_schema'}

#* dbs_list contain all databases that will be taken into account for batch
dbs_list = [db for db in dbs_list if db not in unwanted_db]

In [98]:
display(dbs_list)

['meteo1', 'mouleconnected']

### Get tables inside Database
We create a dictionnary <code>dict_db</code> with database name as key and value being a list  of tables inside the database

In [99]:
# for each db we want to transfer, we store tables names in the dictionnary
dict_db = {}
for db in dbs_list:
    cur = conn.cursor()
    query = f"SHOW TABLES FROM {db}"
    cur.execute(query)
    result = cur.fetchall()
    result = [value[0] for value in result] # keep only the name of the table
    dict_db[db] = result
    cur.close()

In [100]:
display(dict_db)

{'meteo1': ['DATA',
  'LOGBOOK',
  'ane0',
  'bar0',
  'cpr0',
  'gps0',
  'gsm0',
  'ntp0',
  'rad0',
  'the0'],
 'mouleconnected': ['Temperature',
  'bac',
  'capteur',
  'data',
  'data2',
  'lumiere',
  'moule',
  'users']}

Convert dict of list into dict of dict with list for values extracted

In [101]:
dict_db_tables = {}
for key, values in dict_db.items():
    dict_db_tables[key] = {value: [] for value in values}
display(dict_db_tables)

{'meteo1': {'DATA': [],
  'LOGBOOK': [],
  'ane0': [],
  'bar0': [],
  'cpr0': [],
  'gps0': [],
  'gsm0': [],
  'ntp0': [],
  'rad0': [],
  'the0': []},
 'mouleconnected': {'Temperature': [],
  'bac': [],
  'capteur': [],
  'data': [],
  'data2': [],
  'lumiere': [],
  'moule': [],
  'users': []}}

### Retrieve columns in tables

In [106]:
for db in dict_db.keys():
    #print(db)
    for table in dict_db[db]:
        cur = conn.cursor()
        query = f"SHOW COLUMNS FROM {db}.{table}"
        cur.execute(query)
        result = cur.fetchall()
        cols = [value[0] for value in result]
        i=0
        for i in range(len(cols)):
            dict_db_tables[db][table][cols[i]] = {}

display(dict_db_tables)

TypeError: list indices must be integers or slices, not str

### Extract data from table
#### mouleconnected

In [103]:
for db in dict_db.keys():
    #print(db)
    for table in dict_db[db]:
        cur = conn.cursor()
        query = f"SELECT * FROM {db}.{table} LIMIT 10"
        cur.execute(query)
        result = cur.fetchall()
        print(table,result)
        dict_db_tables[db][table] = result
display(dict_db_tables)

{'meteo1': {'DATA': [(20091003092549, 0.0),
   (20091003093001, 0.0),
   (20091003093527, 0.0),
   (20091003094002, 0.0),
   (20091003095001, 0.0),
   (20091003100002, 0.0),
   (20091003101001, 0.0),
   (20091003102001, 0.0),
   (20091003103001, 0.0),
   (20091003104002, 0.0)],
  'LOGBOOK': [],
  'ane0': [(20080413114420, -99999.0, -99999.0),
   (20080413114430, 7.1, 114.0),
   (20080413114440, 7.0, 123.0),
   (20080413114450, 8.3, 123.0),
   (20080413114500, 5.2, 110.0),
   (20080413114510, 10.9, 112.0),
   (20080413114520, 11.0, 134.0),
   (20080413114530, 12.9, 124.0),
   (20080413114540, 9.7, 116.0),
   (20080413114550, 10.0, 110.0)],
  'bar0': [(20080413114420, -99999.0),
   (20080413114930, 1018.0),
   (20080413115431, 1018.0),
   (20080413115931, 1018.0),
   (20080413120431, 1018.0),
   (20080413120932, 1018.0),
   (20080413121748, -99999.0),
   (20080413122258, 1018.0),
   (20080413122759, 1018.0),
   (20080413123259, 1018.0)],
  'cpr0': [(20080413114418, -99999.0, -99999.0, -99999.0, -99999.0, -99999.0),
   (20080413114920, 1372950.75, 7769.0, 371.0, 38.0, 0.02),
   (20080413115425, 1373256.01, 7769.0, 370.0, 37.0, 0.01),
   (20080413115930, 1373561.24, 7769.0, 370.0, 38.0, 0.0),
   (20080413120436, 1373866.47, 7769.0, 370.0, 38.0, 0.0),
   (20080413120941, 1374171.7, 7769.0, 370.0, 38.0, 0.0),
   (20080413121746, -99999.0, -99999.0, -99999.0, -99999.0, -99999.0),
   (20080413122248, 1374958.85, 7769.0, 369.0, 37.0, 0.05),
   (20080413122753, 1375264.09, 7769.0, 369.0, 38.0, 0.02),
   (20080413123258, 1375569.29, 7769.0, 369.0, 37.0, 0.01)],
  'gps0': [(20080925155515, -99999.0, -99999.0, -99999.0, -99999.0, -99999.0),
   (20080925160025, 42.4806833, 3.1370833, -99999.0, -99999.0, -99999.0),
   (20080925160525, 42.4806833, 3.1370667, -99999.0, -99999.0, -99999.0),
   (20080925161025, 42.4806667, 3.1370667, -99999.0, -99999.0, -99999.0),
   (20080925161525, 42.4806667, 3.1370667, -99999.0, -99999.0, -99999.0),
   (20080925162025, 42.4806667, 3.1370667, -99999.0, -99999.0, -99999.0),
   (20080925162526, 42.4806667, 3.1370833, -99999.0, -99999.0, -99999.0),
   (20080925163026, 42.4806667, 3.1370833, -99999.0, -99999.0, -99999.0),
   (20080925163526, 42.4806667, 3.1370833, -99999.0, -99999.0, -99999.0),
   (20080925164026, 42.4806833, 3.1370667, -99999.0, -99999.0, -99999.0)],
  'gsm0': [(20091028092257, -99999.0, -99999.0),
   (20091028112258, 0.0, 3.0),
   (20091028132302, 0.0, 3.0),
   (20091028152307, 0.0, 3.0),
   (20091028172311, 0.0, 3.0),
   (20091028192316, 0.0, 3.0),
   (20091028212321, 0.0, 3.0),
   (20091028232325, 0.0, 3.0),
   (20091029012330, 0.0, 3.0),
   (20091029032334, 0.0, 3.0)],
  'ntp0': [(20080413114418, -99999.0),
   (20080413114920, -7.028),
   (20080413115425, -7.909),
   (20080413115930, 3.615),
   (20080413120436, -0.344),
   (20080413120941, -5.728),
   (20080413121746, -99999.0),
   (20080413122248, 5.751),
   (20080413122753, 3.36),
   (20080413123258, -0.716)],
  'rad0': [(20081009065711, -99999.0),
   (20081009065721, 124.22),
   (20081009065731, 124.57),
   (20081009065741, 124.97),
   (20081009065751, 125.31),
   (20081009065801, 125.67),
   (20081009065811, 126.03),
   (20081009065821, 126.41),
   (20081009065831, 126.76),
   (20081009065841, 127.13)],
  'the0': [(20080413114420, -99999.0),
   (20080413114930, 18.5),
   (20080413115431, 18.5),
   (20080413115931, 17.5),
   (20080413120431, 18.5),
   (20080413120932, 17.5),
   (20080413121748, -99999.0),
   (20080413122258, 18.5),
   (20080413122759, 17.5),
   (20080413123259, 17.5)]},
 'mouleconnected': {'Temperature': [(1, 201), (2, 202), (3, 203), (4, 204)],
  'bac': [('test', 1),
   (' <br />kjihih', 2),
   ('Test', 3),
   ('', 4),
   ('bactruc', 5),
   ('bzcmzchin', 6)],
  'capteur': [('Volt', 1, None, None, 1, 1),
   ('Volt', 2, None, None, 1, 2),
   ('Volt', 3, None, None, 1, 3),
   ('Volt', 4, None, None, 1, 4),
   ('Volt', 5, None, None, 2, 5),
   ('Volt', 6, None, None, 2, 6),
   ('Volt', 7, None, None, 2, 7),
   ('Volt', 8, None, None, 2, 8),
   ('Volt', 9, None, None, 3, 9),
   ('Volt', 10, None, None, 3, 10)],
  'data': [(20200825141815, 1, 2557, 1598365095000, 1),
   (20200825141815, 2, 2833, 1598365095000, 2),
   (20200825141815, 3, 3032, 1598365095000, 3),
   (20200825141815, 4, 2765, 1598365095000, 4),
   (20200825141815, 5, 2361, 1598365095000, 5),
   (20200825141815, 6, 2959, 1598365095000, 6),
   (20200825141815, 7, 3387, 1598365095000, 7),
   (20200825141815, 8, 2897, 1598365095000, 8),
   (20200825141815, 9, 548, 1598365095000, 9),
   (20200825141815, 10, 543, 1598365095000, 10)],
  'data2': [(20210414174847, 1, 2267, 1618422526000, 1),
   (20210414174847, 2, 2270, 1618422526000, 2),
   (20210414174847, 3, 2273, 1618422526000, 3),
   (20210414174847, 4, 2267, 1618422526000, 4),
   (20210414174847, 5, 2261, 1618422526000, 5),
   (20210414174847, 6, 2270, 1618422526000, 6),
   (20210414174847, 7, 2264, 1618422526000, 7),
   (20210414174847, 8, 2261, 1618422526000, 8),
   (20210414174847, 9, 2270, 1618422526000, 9),
   (20210414174847, 10, 2270, 1618422526000, 10)],
  'lumiere': [(1, 101), (2, 102), (3, 103), (4, 104)],
  'moule': [(1, 1),
   (1, 2),
   (1, 3),
   (1, 4),
   (2, 5),
   (2, 6),
   (2, 7),
   (2, 8),
   (3, 9),
   (3, 10)],
  'users': [(1,
    'lucas',
    '$2y$12$16IgusY/5sJJLOAuymc1i.IDQ6cbRrLIz3cpCnDcz5YyTYnL3Fbqi'),
   (10,
    'admin',
    '$2y$12$Vlc0z3ABHprfDGI3JURrxOuNGofN.zecf7qQBB2vBtOoZxPCfhgVe'),
   (12,
    'test',
    '$2y$12$G/w.8RLQuxAyIVCgXxXwzeB4LluD76QyjDwMDID4XPBmY/ggZO7Ga'),
   (13, 'a', '$2y$12$2.ekZDW4X0azAKvuBmadWuhEAoguaD7LslcKW/j0OlMLKL1/Yd2Xa')]}}

### JOIN tables